<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gargantua7.cams.gp.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".CAMSApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true">
        <activity
                android:name=".ui.event.EventRegisteredActivity"
                android:exported="true"
                android:theme="@style/Theme.CAMSGPAndroid.NoActionBar"/>
        <activity
                android:name=".ui.event.NewEventActivity"
                android:exported="true"
                android:theme="@style/Theme.CAMSGPAndroid.NoActionBar"
                android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
                android:name=".ui.event.EventActivity"
                android:exported="true"
                android:theme="@style/Theme.CAMSGPAndroid.NoActionBar"/>
        <activity
                android:name=".ui.repair.NewRepairActivity"
                android:exported="true"
                android:theme="@style/Theme.CAMSGPAndroid.NoActionBar"
                android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
                android:name=".ui.search.SearchActivity"
                android:exported="true"
                android:theme="@style/Theme.CAMSGPAndroid.NoActionBar"/>
        <activity
                android:name=".ui.repair.RepairActivity"
                android:exported="true"
                android:theme="@style/Theme.CAMSGPAndroid.NoActionBar"
                android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
                android:name=".ui.person.SignInActivity"
                android:exported="true"
                android:theme="@style/Theme.CAMSGPAndroid.NoActionBar"/>
        <activity
                android:name=".ui.main.MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.CAMSGPAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
